<div class="centered">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <!--<a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>-->
      <a class="nav-item nav-link" routerLink="/foods" routerLinkActive="active">Foods</a>
    </div>
    <ul class="nav navbar-nav ml-auto mr-1">
      <li><a *ngIf="!isLoggedIn()" class="nav-item nav-link navbar-right" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a *ngIf="isLoggedIn()" class="nav-item nav-link navbar-right" routerLink="/profile " routerLinkActive="active">{{auth.currentUser.getValue().name}}</a></li>
      <li><a *ngIf="isLoggedIn()" class="nav-item nav-link navbar-right" (click)="logout()"  routerLinkActive="active">Logout</a></li>
      <li><a *ngIf="isLoggedIn()" class="nav-item nav-link navbar-right pi pi-shopping-cart" routerLink="/cart" routerLinkActive="active"> {{totalItem}}</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
