<div style="margin-left: 20%; margin-right: 20%">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <!--<a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>-->
      <a class="nav-item nav-link" routerLink="/foods" routerLinkActive="active">Foods</a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
