<div class="centered">
  <p-table [value]="foods" scrollHeight="400px" frozenWidth="400px">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">Name</th>
        <th style="width: 40%">Ingredients</th>
        <th style="width: 10%">Price</th>
        <th style="width: 20%">Image</th>
        <th style="width: 10%"></th>
        <!--<th>Availability</th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-food>
      <tr>
        <td>{{food.foodName}}</td>
        <td>{{food.ingredients}}</td>
        <td>{{food.price}} RON</td>
        <td><img src="{{food.foodImage}}" alt=""></td>
        <!--<td>{{food.availability}}</td>-->
        <td>
          <!--<button type="button" pButton pRipple icon="pi pi-plus"></button>-->
          <!--<p-button (click)="showBasicDialog()" icon="pi pi-plus" label="Add"></p-button>-->
          <p-button (click)="addToCart(food)" icon="pi pi-plus" label="Add"></p-button>

          <!--
          <p-dialog header="Item Amount" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <p>Please enter the amount!</p>
            <p-inputNumber [(ngModel)]="amount"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              size="2"
              incrementButtonIcon="pi pi-arrow-up"
              placeholder="1"
              decrementButtonIcon="pi pi-arrow-down"
              [min]="1"
              [max]="20"
            >

            </p-inputNumber>
            <ng-template pTemplate="footer">
              <p-button icon="pi pi-check" (click)="displayBasic=false; addToCart()" label="Ok" styleClass="p-button-text"></p-button>
              <p-button icon="pi pi-times" (click)="displayBasic=false" label="Cancel"></p-button>
            </ng-template>
          </p-dialog>
          -->

        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

